.skills{
    display: inline-block;
}
.skills:hover{   
    outline: 3px yellow solid;
    
}
.subtitulo{
    font-size: 1.4rem;
}
.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #ebebeb; 
}


  .progress-circle:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s; }
  
  .progress-circle span {
    font-size: 1rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1; }
  
  .progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #8b8b8b; }
  
  .progress-circle.progress-90:after {
    background-image: linear-gradient(54deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
  .progress-circle.progress-85:after {
    background-image: linear-gradient(36deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  .progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
  
  .progress-circle.progress-45:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(252deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
  .progress-circle.progress-40:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(234deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
  .progress-circle.progress-60:after {
    background-image: linear-gradient(-54deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }

  .progress-circle.progress-25:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(180deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
  
  .progress-circle.progress-30:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(198deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
    
 
 

  /* proyectos*/
  .projects {
    margin-top: 20px;
   
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .project-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .project-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .project-button:hover{
    font-size: 1.3rem;
  }
  
  @media (max-width: 768px) {
  .titulo{
    font-size: 1.6rem;
  }  
  .skills {
    display: inline-block;
    margin: 1.2rem auto;
    text-align: center;
    
  }

  .subtitulo {
    font-size: 0.4rem;
  }

  .progress-circle {
    width: 90px;
    height: 90px;
    display: inline-block;
    margin: 0.5rem;
  }

  .progress-circle span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    font-size: 0.7rem;
  }

  .projects {
    margin-top: 10px;
  }

  .project-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 0 1rem;
  }

  .project-card {
    padding: 10px;
  }

  .project-button {
    padding: 5px;
    font-size: 0.8rem;
    margin-left: -0.4rem;
  }

  .project-button:hover {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .subtitulo {
    font-size: 1rem;
  }
  

  .project-button {
    width: 100%;
    text-align: center;
  }
}
 